* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f5f7;
}

.container {
    display: flex;
    width: 800px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sign-in-container {
    background-color: #ffffff;
}

.sign-up-container {
    background-color:rgb(30, 236, 30);
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
}

p{
    color: white;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:rgb(69, 240, 69);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

a {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
